*.log*
*.pyc
*.csproj
*.sln
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal
/client/week1/Library
/client/week1/Temp
/voiceServer/AzureSpeechTest/AzureSpeechTest/obj
/voiceServer/AzureSpeechTest/AzureSpeechTest/bin
_Bin
/client/week1/Assets/StreamingAssets/voice.wav
/client/week1/Assets/StreamingAssets/voice.wav.meta
